<h3>Post Form</h3>

<%= form_for @post do |f| %>
  <%= f.label :title, 'Title: ' %>
  <%= f.text_field :title %><br>
  <%= f.label :description, 'Description: ' %>
  <%= f.text_area :description %><br>
  <%= f.submit "Update Post" %>
<% end %>